
    <!-- =====================================
        ==== Start Hero -->
        <section class="hero section-padding pb-0" data-scroll-index="1">
          <div class="container">
              <div class="row">
                  <div class="col-lg-10 offset-lg-1">
                      <div class="intro text-center row mb-80">
                        
                          <div class="col-lg-10 offset-lg-1">
                            
                              <div class="mb-20">
                                  <h6>Who we are?</h6>
                                  <h4>Athenity Care | 
                                    एथेनिटी केयर </h4>
                                    <br>
                                   <!-- <h6><u> Multi Super Speciality Hospital </u></h6>  -->
                              </div>
                              <p>Established by Dr Anurag Singh in 2021, Athenity Care
                                   has a robust presence across the healthcare ecosystem. 
                                   From routine wellness & preventive health care to innovative
                                    life-saving treatments and diagnostic services, Athenity Care
                                     has touched more than thousands of lives from different cities,
                                      offering the best clinical outcomes. Leveraging its vast medical expertise & technological advantage,
                                      Athenity Care has consistently delivered best in class clinical outcomes.
                                      Athenity Personal Health Record system stores all your data in a secure environment and gives you complete 
                                      control over who accesses your information. Access your Health Records from the comfort of your home while
                                       seamlessly maintaining a record of your medical conditions.</p>
                                  <!-- <img src="assets/img/name.jpg" /> -->
                              <!-- <svg class="bord-botm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px">
                                  <polyline fill="transparent" stroke="#ee3158" stroke-width="2" stroke-miterlimit="10"
                                      points="51.269,6.716 45.685,2.031 39.086,6.716 32.487,2.031 
                                      26.904,6.716 20.812,2.031 14.721,6.716 7.614,2.031 2.538,6.716 " />
                              </svg> -->
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-4 col-md-6" *ngFor="let proj of projects" >
                      <div class="item text-center mb-50">
                          <span ><img style="height: 200px;" [src]="proj.image"  /></span>
                          <br>
                          <br>
                          <h5>{{ proj.heading }}</h5>
                          <p>{{proj.content}}</p>
                      </div>
                  </div>
  
                  <!-- <div class="col-lg-4 col-md-12" >
                  <img [src]="val" style="width: 60rem; height: 30rem;"  />
                 </div> -->

                   <!-- <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 mb-50">
                      <div class="item text-center">
                          <span class="icon bg-pu shadow"><i class="ti-server"></i></span>
                          <h5><span></span>Database Services</h5>
                          <p>We know the importance of your data security, so we provide complete data security with our database services.</p>
                      </div>
                  </div> -->
              </div>
          </div>
  
          <div class="bg-gray section-padding pb-70 mt-70">
              <div class="container">
                  <div class="row">
  
                      <div class="col-lg-6">
                          <div class="about mb-50">
                              <h6>Why To Choose Athenity Care? </h6>
                              <h4>Key Medical Procedures & Technology.</h4>
                              <p>Athenity Care has consistently led game-changing developments in healthcare by bringing to the people, 
                                  the latest innovations in key medical specialities and superspecialities on par with the West.</p>
                              <ul>
                                  <li><span class="icon"><i class="fas fa-arrow-right"></i></span>
                                      Treatments.</li>
                                  <li><span class="icon"><i class="fas fa-arrow-right"></i></span>Technology.</li>
                                  <li><span class="icon"><i class="fas fa-arrow-right"></i></span>We help analyze, shape
                                      and transform business models.</li>
                              </ul>
                          </div>
                      </div>
  
                      <div class="col-lg-6" >
                          <div class="item mb-50">
                           
                            <div class="row" style="margin-top: 50px;">
                               
                                <div class="col-md-4 login-form-1" >
                                    <h6><u>Clinical Summary</u></h6>
                                    <ul *ngFor="let item of list1">
                                        <li>{{item}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-4 login-form-1">
                                    <h6><u>Treatment Facility</u></h6>
                                    <ul *ngFor="let it of list2">
                                        <li>{{it }}</li>
                                       
                                    </ul>
                                </div>
                                </div>
                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  
      <!-- End Hero ====
          ======================================= -->
    