
    <!-- =====================================
        ==== Start Hero -->
        <section class="hero section-padding pb-0" data-scroll-index="1">
          <div class="container">
              <div class="row">
                  <div class="col-lg-10 offset-lg-1">
                      <div class="intro text-center row mb-80">
                          <div class="col-lg-10 offset-lg-1">
                              <div class="mb-20">
                                  <h6>Who we are?</h6>
                                  <h4>Finix Technocrates <br> your software solution partner</h4>
                              </div>
                              <p>Finix Technocrates provide custom software solutions and project management support for
                                  business seeking an alternative to high-priced consulting firms. Our focus on
                                  customer service and innovative software solutions has helped us continue to grow at a
                                  rapid pace. With a impressive client roster including both start-ups and large
                                  companies we have proved ourselves. We can provide high-quality, value driven software designs as
                                  a reasonable price-point.</p>
                              <svg class="bord-botm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                  x="0px" y="0px">
                                  <polyline fill="transparent" stroke="#ee3158" stroke-width="2" stroke-miterlimit="10"
                                      points="51.269,6.716 45.685,2.031 39.086,6.716 32.487,2.031 
                                      26.904,6.716 20.812,2.031 14.721,6.716 7.614,2.031 2.538,6.716 " />
                              </svg>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-4 col-md-6">
                      <div class="item text-center mb-50">
                          <span class="icon bg-gr shadow"><i class="ti-desktop"></i></span>
                          <h5><span></span>Web Development</h5>
                          <p>We offer full-scale software solutions for mobile, web and desktop that will enable our clients to rise as industry leaders within their respective industry.</p>
                      </div>
                  </div>
  
                  <div class="col-lg-4 col-md-6">
                      <div class="item active text-center mb-50">
                          <span class="icon bg-bl shadow"><i class="ti-game"></i></span>
                          <h5><span></span>Web & Mobile Design</h5>
                          <p>Our designers recognize the fact that usability, functionality, and visualization are the three important factors of an application interface or application.</p>
                      </div>
                  </div>
  
                  <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 mb-50">
                      <div class="item text-center">
                          <span class="icon bg-pu shadow"><i class="ti-server"></i></span>
                          <h5><span></span>Database Services</h5>
                          <p>We know the importance of your data security, so we provide complete data security with our database services.</p>
                      </div>
                  </div>
              </div>
          </div>
  
          <div class="bg-gray section-padding pb-70 mt-70">
              <div class="container">
                  <div class="row">
  
                      <div class="col-lg-6">
                          <div class="about mb-50">
                              <h6>Why To Choose Finix Technocrates?</h6>
                              <h4>We love building meaningful and useful software products.</h4>
                              <p>We’re full service which means we’ve got you covered on design and content right through
                                  to digital. You’ll form a lasting relationship with us, collaboration is central to
                                  everything we do.</p>
                              <ul>
                                  <li><span class="icon"><i class="fas fa-arrow-right"></i></span>Our consulting services
                                      include project management.</li>
                                  <li><span class="icon"><i class="fas fa-arrow-right"></i></span>Manage your workflow
                                      and tasks successfully.</li>
                                  <li><span class="icon"><i class="fas fa-arrow-right"></i></span>We help analyze, shape
                                      and transform business models.</li>
                              </ul>
                          </div>
                      </div>
  
                      <div class="col-lg-6">
                          <div class="img mb-50">
                              <img src="assets/img/svg/3.svg" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  
      <!-- End Hero ====
          ======================================= -->
    