<app-header></app-header>
<app-about></app-about>
<app-dev-process></app-dev-process>
<!-- <app-blog></app-blog> -->
  <!-- =====================================
        ==== Start Get Ready -->

    <section class="get-ready section-padding bg-img bg-fixed" data-overlay-dark="7">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                    <div class="text-center">
                        <h6>Getting Started</h6>
                        <h3>Let's Make Something Great!</h3>
                        <p>We’re full service which means we’ve got you covered on design and content right through
                            to digital.</p>
                        <!-- <a href="#0" class="butn butn-bg mt-30">
                            <span>Getting Started <i class="fas fa-chevron-right"></i></span>
                        </a> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    
<!-- End Get Ready ====
    ======================================= -->
<app-contact></app-contact>