  
    <!-- =====================================
    	==== Start Header -->

      <header class="header valign agency bg-img bg-fixed" data-scroll-index="0" data-overlay-dark="7">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center caption mt-50">
                    <h1>Web Design &<br> Development</h1>
                    <p>Finix Technocrates. provide custom software solutions and project management support for businesses
                        seeking an alternative to high-priced consulting firms.</p>
                </div>
            </div>
        </div>
        <div class="curve bg-img" data-background="assets/img/curve.png"></div>
    </header>

    <!-- End Header ====
    	======================================= -->
