  
    <!-- =====================================
    	==== Start Header -->

      <header class="header valign agency bg-img bg-fixed" data-scroll-index="0" data-overlay-dark="7">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center caption mt-50">
                    <h1 style="color: #4169E1;">Athenity Care</h1>
                    <br>
                    <span class="hospital">Multi Super Speciality Hospital</span>
                  
                    <p>Trusted for our expertise. Chosen for our care.
                        Uncompromising Excellence. Commitment to Care.</p>
                </div>
            </div>
        </div>
        <div class="curve bg-img" data-background="assets/img/curve.png"></div>
    </header>

    <!-- End Header ====
    	======================================= -->
