<section class="hero section-padding pb-0" data-scroll-index="1">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="intro text-center">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="mb-20">
                            <h6>Build</h6>
                            <h4><br></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="carouselExampleIndicators" style="background-color: black; height: 49vh;" class="carousel slide"
        data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" id="joinimg"
                    src="https://image.freepik.com/free-vector/hospital-service-patients-can-call-ambulance-service-via-phone_1150-50320.jpg"
                    alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" id="joinimg"
                    src="https://th.thgim.com/opinion/op-ed/eqszb7/article32262911.ece/ALTERNATES/FREE_660/iStock-1024611260"
                    alt="Third slide">
            </div>
            <div class="carousel-item active">
                <img class="d-block w-100" id="joinimg"
                    src=""
                    alt="First slide">
            </div>
        </div>

    </div>
    
    <div class="container login-container">
        <h2><u>Treatment Facilities</u></h2>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-4 login-form-1" style="background-color: aqua;">
                <ul>
                    <li>General Medicine</li>
                    <li>Cardiology (Medicine & Surgery)</li>
                    <li>Gastroenterology</li>
                    <li>Nuro & Spine (Medicine & Surgery)</li>
                </ul>
            </div>
            <div class="col-md-4 login-form-1">
                <ul>
                    <li>General & Laparoscopy (Surgery)</li>
                    <li>Ortho (Medicine & Surgery)</li>
                    <li>Oncology (Medicine & Surgery)</li>
                    <li>Urology</li>
                </ul>
            </div>
            <div class="col-md-4 login-form-1" style="background-color: aqua;">
                <ul>
                    <li>Gynaecology (normal & Cesarean)</li>
                    <li>Burn Unit</li>
                    <li>Plastic & Cosmetic Surgery</li>
                    <li>Trauma & Critical Care</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container login-container">
        <div class="row">
            <div style="margin-top: 20vh;" class="col-lg-6 col-md-6">
                <div class="item text-center mb-50">
                    <h5 style="display: inline-block;">“Doing the best at this moment puts you in the best place for the
                        next moment.” </h5>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div style="margin-top: 90px; margin-bottom: 50px;" class="container test testimonials">
            <p class="testp"><u>TESTIMONIALS</u></p>
            <h2 class="testhead">Our Patients Speak</h2>
            <div style="display: flex; margin-bottom: 50px;" class="patients-spk-wpr d-flx flx-wrap abv-sml-jstfy-btwn">
                <picture class="self-strt">
                    <source media="(max-width: 1024px)"
                        srcset="https://cdn.apollohospitals.com/dev-apollohospitals/2021/04/ourpatientsspeak.jpg"
                        alt="">

                    <source media="(min-width: 769px)"
                        srcset="https://cdn.apollohospitals.com/dev-apollohospitals/2021/04/ourpatientsspeak.jpg"
                        alt="">
                    <source media="(max-width: 768px)"
                        srcset="https://cdn.apollohospitals.com/dev-apollohospitals/2021/04/ourpatientsspeak.jpg"
                        alt="">
                    <img alt="" width="595"
                        data-src="https://cdn.apollohospitals.com/dev-apollohospitals/2021/04/ourpatientsspeak.jpg"
                        class="self-strt ls-is-cached lazyloaded"
                        src="https://cdn.apollohospitals.com/dev-apollohospitals/2021/04/ourpatientsspeak.jpg">
                </picture>
                <div style="margin-left: 50px;" class="patients-spk-cntnt">
                    <div class="spks-lists">
                        <div class="spks-list">
                            <div class="dr-nm">Dr. Rama Devi <span>General Practitioner, Hyderabad</span></div>
                            <div class="vrfi-dr d-flx itm-cntr">
                                <img style="width: 3%;" alt="Verified Icon"
                                    data-src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets/images/icons/i-verified.svg"
                                    class=" lazyloaded"
                                    src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets/images/icons/i-verified.svg">
                                    Verified
                            </div>
                            <p>I come from a family of doctors and I was suffering from morbid obesity with
                                co-morbidities like diabetes, hypertension, and sleep apnoea. It was becoming
                                increasingly difficult for me to concentrate on my practice and continue my day today
                                life. I’ve been consulted…</p>
                        </div>
                    </div>
                    <div class="spks-lists">
                        <div style="margin-top: 60px" class="spks-list">
                            <div class="dr-nm">Rajeev Singh <span>, Varansi</span></div>
                            <div class="vrfi-dr d-flx itm-cntr">
                                <img style="width: 3%;" alt="Verified Icon"
                                    data-src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets/images/icons/i-verified.svg"
                                    class=" lazyloaded"
                                    src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets/images/icons/i-verified.svg">
                                    Verified
                            </div>
                            <p>I come from a family of doctors and I was suffering from morbid obesity with
                                co-morbidities like diabetes, hypertension, and sleep apnoea. It was becoming
                                increasingly difficult for me to concentrate on my practice and continue my day today
                                life. I’ve been consulted…</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>