<!-- ========================================= Start Navbar -->

      <nav class="navbar navbar-top navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <h1>
            <a [routerLink]="['/']">
                <img src="assets/img/logo-dark.png" class="logoimg light-logo" alt="logo">
                <img src="assets/img/logo-dark.png" class="logoimg dark-logo" alt="logo">
            </a>
            <a class="logo" [routerLink]="['']">
                Finix Technocrates
            </a>
            </h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['about']" >About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['training']" >Training</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="['process']">Process</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="" data-scroll-nav="3">Testimonials</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="" data-scroll-nav="4">Blog</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['project-list']" >Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['contact']" >Contact</a>
                    </li>
                    <!-- <button type="button" class="btn btn-primary">SignOut</button> -->
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  Demo Sites  </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" target="_blank" href="https://inntechweb.com/myshop"> MyShop </a></li> -->
                          <!-- <li><a class="dropdown-item" href="#"> Second level 2 &raquo </a>
                             <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href=""> Third level 1</a></li>
                                <li><a class="dropdown-item" href=""> Third level 2</a></li>
                                <li><a class="dropdown-item" href=""> Third level 3 &raquo </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href=""> Fourth level 1</a></li>
                                    <li><a class="dropdown-item" href=""> Fourth level 2</a></li>
                                </ul>
                                </li>
                                <li><a class="dropdown-item" href=""> Second level  4</a></li>
                                <li><a class="dropdown-item" href=""> Second level  5</a></li>
                             </ul>
                          </li>
                          <li><a class="dropdown-item" href="#"> Dropdown item 3 </a></li>
                          <li><a class="dropdown-item" href="#"> Dropdown item 4 </a> -->
                        <!-- </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar ====
      ======================================= -->
      