
    <!-- =====================================
        ==== Start Process -->

        <div class="process section-padding text-center bg-gray" data-scroll-index="2">
          <div class="container">
              <div class="row">
  
                  <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                    <h4><u>Our Process</u></h4>  
                    <h6 style="margin-top: 3px;">How It's Work?</h6>
                      <!-- <svg class="bord-botm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px">
                          <polyline fill="transparent" stroke="#ee3158" stroke-width="2" stroke-miterlimit="10" points="51.269,6.716 45.685,2.031 39.086,6.716 32.487,2.031 
                              26.904,6.716 20.812,2.031 14.721,6.716 7.614,2.031 2.538,6.716 " />
                      </svg> -->
                  </div>
  
                  <div class="col-lg-3 col-md-6">
                      <div class="item first mb-md50">
                          <img src="assets/img/arrow.png" class="tobotm" alt="">
                          <span class="icon bg-pu ti-light-bulb"></span>
                          <div class="cont">
                              <h3>01</h3>
                              <h6>Ideas</h6>
                              <p>Our team of designers’ work directly with the client to produce a customer experience that is intuitive and delightful. We have worked with some well-known companies such as Kraft Company and Panera bread Company to produce content that keep their customers coming back for more. </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6">
                      <div class="item odd mb-md50">
                          <img src="assets/img/arrow.png" alt="">
                          <span class="icon bg-or ti-pencil-alt"></span>
                          <div class="cont">
                              <h3>02</h3>
                              <h6>Planning</h6>
                              <p>Finix Technocrates uses a strategic product planning process of defining how the client will achieve their vision, coupled with an agile process to produce the exact results that the client is looking for. We want your customers to love your new site and your new functionality.</p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6">
                      <div class="item mb-sm50">
                          <img src="assets/img/arrow.png" class="tobotm" alt="">
                          <span class="icon bg-gr ti-hummer"></span>
                          <div class="cont">
                              <h3>03</h3>
                              <h6>Development</h6>
                              <p>The agile development process keeps us and the client on the same page. If there are changes that need to be made, the agile process allows us to make those changes quickly and efficiently in the development stages so that when we are at the publication stages, the product is exactly what the client desires. </p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6">
                      <div class="item odd">
                          <span class="icon bg-bl ti-dashboard"></span>
                          <div class="cont">
                              <h3>04</h3>
                              <h6>Testing</h6>
                              <p>We use a three tear-approach to testing the functionality of our code. Functionality is rigorously tested various methods to ensure the code is solid. Then, we have the design team check the esthetics from a customer’s point of view. We produce quality results. </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <!-- End Process ====
          ======================================= -->
  
  
  
      <!-- =====================================
          ==== Start Facts -->
  
      <!-- <div class="facts section-padding" data-scroll-index="3">
          <div class="container">
              <div class="row">
                  <div class="section-head text-center col-lg-8 col-md-10 offset-md-1 offset-lg-2">
                      <h6>What People Say?</h6>
                      <h4>Testimonials</h4>
                      <svg class="bord-botm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px" y="0px">
                          <polyline fill="transparent" stroke="#ee3158" stroke-width="2" stroke-miterlimit="10" points="51.269,6.716 45.685,2.031 39.086,6.716 32.487,2.031 
                              26.904,6.716 20.812,2.031 14.721,6.716 7.614,2.031 2.538,6.716 " />
                      </svg>
                  </div>
  
                  <div class="col-lg-12">
                      <div class="testimonials">
                          <div class="owl-carousel owl-theme">
                              <div class="item">
                                  <span class="icon"><i class="fas fa-quote-right"></i></span>
                                  <div class="client-area">
                                      <div class="img">
                                          <div class="author">
                                              <img src="assets/img/clients/1.jpg" alt="">
                                          </div>
                                      </div>
                                      <div class="cont">
                                          <h6>Alex Smith</h6>
                                          <span>Envato Customer</span>
                                      </div>
                                  </div>
                                  <p>"It was a great experience to work with them, they provided best quality of work,
                                      Thanks Guys!!"</p>
                              </div>
                              <div class="item">
                                  <span class="icon"><i class="fas fa-quote-right"></i></span>
                                  <div class="client-area">
                                      <div class="img">
                                          <div class="author">
                                              <img src="assets/img/clients/2.jpg" alt="">
                                          </div>
                                      </div>
                                      <div class="cont">
                                          <h6>Sam Martin</h6>
                                          <span>Envato Customer</span>
                                      </div>
                                  </div>
                                  <p>"It was a great experience to work with them, they provided best quality of work,
                                      Thanks Guys!!"</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>  -->
  
      <!-- End Facts ====
          ======================================= -->
  
  
  
  
      <!-- =====================================
          ==== Start Numbers -->
  
      <!-- <div class="numbers text-center section-padding bg-img bg-fixed" data-overlay-dark="7" data-background="assets/img/bg1.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3 col-md-6">
                      <div class="item text-center mb-md50">
                          <span class="icon ti-user"></span>
                          <h4><span class="count">168</span> k</h4>
                          <h6>Happy Clients</h6>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6">
                      <div class="item text-center mb-md50">
                          <span class="icon ti-layers"></span>
                          <h4><span class="count">937</span></h4>
                          <h6>Projects Compleated</h6>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6">
                      <div class="item text-center mb-sm50">
                          <span class="icon ti-import"></span>
                          <h4><span class="count">438</span>k</h4>
                          <h6>Files Downloaded</h6>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6">
                      <div class="item text-center">
                          <span class="icon ti-crown"></span>
                          <h4><span class="count">46</span></h4>
                          <h6>Award Win</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  
      <!-- End Numbers ====
          ======================================= -->
  
  